body{
margin:0;
font-family:sans-serif;
background:white;
}
*{
padding:0;
margin:0;
font-family:monospace;
box-sizing:border-box;
}
.header{
background-color:green;
display:grid;
grid-template-coloumns:repeat(3,1fr);
padding:0px 25px;
height:80px;
align-items:center;
}
.logo img{
width:80px;
height:auto;
}
.search input{
height:35px;
width:100%;
border:none;
outline:none;
border-radius:10px;
padding:10px;
font-size:16px;
}
.icons{
text-align:right;
}
.icons.fa{
color:white;
text-decoration:none;
font-size:22px;
padding:0px 10px;
transition:0.6s;
}
.fa:hover{
color:black;
}
.links{
background-color:#007bff;
height:0;


}
.links a{
color:white;
text-decoration:none;
display:block;
padding:15px;
font-size:18px;
}
.showmyLinks{
height:50vh;
}
h3{
text-align:center;
fony-size:30px;
margin:0;
padding-top:10px;
}
a{
text-decoration:none;
}
.gallery{
display:flex;
flex-wrap:wrap;
width:100%
justify-content:center;
margin:50px 0;
}
.content{
width:20%;
margin:15px;
box-sizing:border-box;
float:left;
text-align:center;
border-radius:20px;
cursor:pointer;
padding-top:10px;
box shadow:0 14px 28px rgba(0,0,0,0.25),
0 10px 10px rgba(0,0,0,0.22); 
transition:.4s;
background:azure;
}
.content:hover{
box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
transform:translate(0px, -8px); 
}
img{
width:200px;
height:200px;
text-align:center;
margin:0 auto;
display:block;
}
p{
text-align:cenetr;
color:#b2bec3;
padding-top: 0 8px;
}
h6{
font-size;
text-align:center;
color:#222f3e;
margin:0;
}
ul{
list-style:none;
display:flex;
justify-content:center;
align-items:center;
padding-top:0;
}
li{
padding-top:5px;
}
.fa{
font-size:26px;
transition:.4s;
margin:3px;
}
.checked{
color:#ff9f43;
}
.fa:hover{
transform:scale(1.3);
transition:.6s;
}
button{
text-align:center;
font-size:24px;
color:#fff;
width:100%;
padding:15px;
border:0;
outline:none;
cursor:pointer;
margin-top:5px;
border-bottom-right-radius:20px;
border-bottom-left-radius:20px;
}
.buy-1{
background:lime;
}
.buy-2{
background:lightyellow;
}
.buy-3{
background:MediumVioletRed ;
}
.buy-4{
background:yellow;
}
.buy-5{
background:green;
}
.buy-6{
background:seagreen;
}
.buy-7{
background:yellowgreen;
}
.buy-8{
background:hotpink;
}
.buy-9{
background:forestgreen;
}
.buy-10{
background:yellow;
}
.buy-11{
background:khaki;
}
.buy-12{
background:darkgreen;
}
.buy-13{
background:olive;
}
.buy-14{
background:darkgreen;
}
.buy-15{
background:coral;
}
.buy-16{
background:coral;
}
.buy-17{
background:green;
}
.buy-18{
background:limegreen;
}
.buy-19{
background:springgreen;
}
.buy-20{
background:deeppink;
}
.buy-21{
background:crimson;
}
.buy-22{
background:red;
}
.buy-23{
background:pink;
}
.buy-24{
background:green;
}
.buy-25{
background:limegreen;
}
.buy-26{
background:lime;
}
.buy-27{
background:lightgreen;
}
.buy-28{
background:MediumVioletRed;
}
.buy-29{
background:yellow;
}
.buy-30{
background:darkgreen;
}
.buy-31{
background:salmon;
}
.buy-32{
background:black;
}





